# Moe's Bar Lab

### Introduction

In this lesson, we'll apply our knowledge of querying tables with has many through to ask questions of customers and bartenders at a bar.

### Loading Our Data

Then we can connect to our database with the following.

In [ ]:
import sqlite3
conn = sqlite3.connect('./moes_bar.db')
cursor = conn.cursor()

Next we load our data.

In [ ]:
import pandas as pd
root_url = "https://raw.githubusercontent.com/jigsawlabs-student/curriculum-images/main/has-many-through-bar/data/"
names = ['bartenders', 'customers', 'drinks', 'orders', 'ingredients', 'ingredients_drinks']
loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]

In [ ]:
cursor.

In [ ]:
for index, name in enumerate(names):
    loaded_dfs[index].to_sql(f'{name}', conn, index = False)

In [ ]:
cursor.execute("SELECT * FROM sqlite_master;")
cursor.fetchall()

[('table',
  'bartenders',
  'bartenders',
  2,
  'CREATE TABLE "bartenders" (\n"id" INTEGER,\n  "name" TEXT,\n  "hometown" TEXT,\n  "birthyear" INTEGER\n)'),
 ('table',
  'customers',
  'customers',
  3,
  'CREATE TABLE "customers" (\n"id" INTEGER,\n  "name" TEXT,\n  "hometown" TEXT,\n  "birthyear" INTEGER\n)'),
 ('table',
  'drinks',
  'drinks',
  4,
  'CREATE TABLE "drinks" (\n"id" INTEGER,\n  "name" TEXT,\n  "calories" INTEGER,\n  "price" INTEGER,\n  "alcoholic" INTEGER\n)'),
 ('table',
  'orders',
  'orders',
  5,
  'CREATE TABLE "orders" (\n"id" INTEGER,\n  "customer_id" INTEGER,\n  "drink_id" INTEGER,\n  "bartender_id" INTEGER\n)'),
 ('table',
  'ingredients',
  'ingredients',
  6,
  'CREATE TABLE "ingredients" (\n"id" INTEGER,\n  "name" TEXT,\n  "price" INTEGER\n)'),
 ('table',
  'ingredients_drinks',
  'ingredients_drinks',
  7,
  'CREATE TABLE "ingredients_drinks" (\n"id" INTEGER,\n  "drink_id" INTEGER,\n  "ingredient_id" INTEGER\n)')]

### Exploring our Database

Now we list of all of the tables with the following.

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('bartenders',),
 ('customers',),
 ('drinks',),
 ('orders',),
 ('ingredients',),
 ('ingredients_drinks',)]

And then we can see the details of a particular table with the following.

In [ ]:
cursor.execute("pragma table_info(drinks)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'calories', 'INTEGER', 0, None, 0),
 (3, 'price', 'INTEGER', 0, None, 0),
 (4, 'alcoholic', 'INTEGER', 0, None, 0)]

In [ ]:
cursor.execute("pragma table_info(orders)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'customer_id', 'INTEGER', 0, None, 0),
 (2, 'drink_id', 'INTEGER', 0, None, 0),
 (3, 'bartender_id', 'INTEGER', 0, None, 0)]

### Making our queries

* Find the name of the youngest customer

In [ ]:
youngest_customer = "pragma table_info(customers) "

cursor.execute(youngest_customer)
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'hometown', 'TEXT', 0, None, 0),
 (3, 'birthyear', 'INTEGER', 0, None, 0)]

In [ ]:
youngest_customer = "select name, birthyear from customers order by birthyear asc limit 1 "

cursor.execute(youngest_customer)
cursor.fetchall()
# # [('lisa simpson', 2006)]

[('lisa simpson', 2006), ('bart simpson', 2008), ('maggie simpson', 2016)]

* Order the drinks from most to least expensive

In [ ]:
cheapest_drinks = None

cursor.execute(""" select name, price from drinks 
order by price desc

""")
cursor.fetchall()
# cursor.execute(cheapest_drinks)
# cursor.fetchall()
# [('ice cream float', 8),
#  ('duff beer', 7),
#  ('gin and tonic', 7),
#  ('rootbeer', 6),
#  ('milkshake', 5),
#  ('egg cream soda', 3)]

[('ice cream float', 8),
 ('duff beer', 7),
 ('gin and tonic', 7),
 ('rootbeer', 6),
 ('milkshake', 5),
 ('egg cream soda', 3)]

* Find the most expensive drink that bart simpson ordered

In [ ]:

cursor.execute(""" select drinks.name, drinks.price from drinks 
join orders on orders.drink_id = drinks.id
join customers on customers.id = orders.customer_id
where customers.name = "bart simpson"
order by price desc limit 1
""")
cursor.fetchall()
# cursor.execute()
# cursor.fetchall()
# [('milkshake', 5)]

[('milkshake', 5)]

* Find a list of all of the customers of moe

In [ ]:
# moes_customers = None
cursor.execute(""" select customers.name from customers
join orders on customers.id = orders.customer_id
group by customers.id
""")
cursor.fetchall()
# cursor.execute(moes_customers)
# cursor.fetchall()
# [('bart simpson',), ('maggie simpson',)]

[('bart simpson',), ('maggie simpson',), ('lisa simpson',)]