# Objects Warmup

### Selecting From an API

Let's start with our movies imdb dataset.

In [17]:
import pandas as pd
url = "https://raw.githubusercontent.com/python-fundamentals-jigsaw/mod-1-a-data-structures/master/3-coercing-filtering-data/imdb_movies.csv"
movies_df = pd.read_csv(url)
movies = movies_df.to_dict('records')

1. Begin by looping through the movies and adding a list of `movie_titles`, where each element is a different movie title.

In [15]:
print(movies[0].keys())

dict_keys(['title', 'genre', 'budget', 'runtime', 'year', 'month', 'revenue'])

In [16]:
titles = list(set([movie["title"] for movie in movies]))
titles[:3]
# titles[:3]
# ['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre']

['Br√ºno', 'Love in the Time of Cholera', 'The Best of Me']

2. Now let's select a single movie

In [ ]:
first_movie = movies[0]

In [ ]:
first_movie

{'title': 'Avatar',
 'genre': 'Action',
 'budget': 237000000,
 'runtime': 162.0,
 'year': 2009,
 'month': 12,
 'revenue': 2787965087}

Now call `items` to coerce this dictionary into a list of key value tuples.

In [25]:

first_movie_items = first_movie.items()
attributes = { x for x in first_movie_items}
attributes
# dict_items([('title', 'Avatar'), ('genre', 'Action'),
# ('budget', 237000000), ('runtime', 162.0), ('year', 2009), 
# ('month', 12), ('revenue', 2787965087)])

{('budget', 237000000),
 ('genre', 'Action'),
 ('month', 12),
 ('revenue', 2787965087),
 ('runtime', 162.0),
 ('title', 'Avatar'),
 ('year', 2009)}

Use dictionary comprehension to select only those attributes listed in `selected_attrs`.

3. Then narrow down the list of attributes to just the `selected_attrs` for all movies.

In [24]:
selected_attrs = ['title', 'budget', 'revenue']
attributes = { x for x in first_movie_items if x[0] in selected_attrs}
attributes

{('budget', 237000000), ('revenue', 2787965087), ('title', 'Avatar')}

4. Next, create class called `Movie` that upon initialization takes the arguments of `title`, `budget` and revenue.

In [ ]:
class Movie:
  def __init__(self,title,budget,revenue):
    self.title = title
    self.budget = budget
    self.revenue = revenue

5. Finally, use `kwargs` to create a list of movies.

In [ ]:
movies[0]

{'title': 'Avatar',
 'genre': 'Action',
 'budget': 237000000,
 'runtime': 162.0,
 'year': 2009,
 'month': 12,
 'revenue': 2787965087}

In [29]:
class Movies:
  def __init__(self,**kwargs):
    self.title = kwargs["title"]
    self.budget = kwargs["budget"]
    self.revenue = kwargs["revenue"]

In [30]:
new_movies = Movies(title = "stuff",budget =100, revenue = 200)
new_movies.title

'stuff'